@import "../../css-config/mixins.scss";

.products_container{
    margin: 50px 0;
    @include md{
        margin: 75px 0;
    }
    .sec_heading{
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            height: 5px;
            width: 5%;
            background-color: blueviolet;
            left: 0.1rem;
            bottom: -0.5rem;
        }
        @include md{
            margin-bottom: 34px;
            font-size: 30px;
        }
       
    }
    
    .products{
        display: flex;
        align-items: center;
        flex-flow: wrap;
        gap: 10px;
       
        @include md{
            gap: 20px;  
        }
    }
}